.pomo__container__login{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding-top: 15%;
    min-height: 84.8vh;
    text-align: center;
    color: aliceblue;
}


.pomo__form__login{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 0px 30px;
    border-radius: 6px;
    margin-bottom: 20px;
    text-align: center;
    

}
.form-control {
    margin: 5px;
    color: aliceblue;
    font-size: 16px;
}


.pomo__container__register{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding-top: 15%;
    min-height: 93.5vh;
    
    text-align: center;
    color: aliceblue;
}

.btn__container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn__login {
    list-style-type: none;
    display: flex;
    align-items: center;;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.9;
    background: none rgba(255, 255, 255, 0.2);
    box-shadow: none;
    margin-left: 10px;
    font-size: 13px;
    padding: 8px 12px;
    min-width: 50px;
    border: none;
    color: white
}

